body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}


/*
    There are 4 different grid-layouts to accomodate the main full desktop scenarios. These are controlled by adding a
    classname to the #container element:
    1. "introduction" - The starting state with introductionary help-text.
    2. "no-details"   - Search-results without details.
    3. ""             - Search results with details.
    4. "error"        - Shows an error on the page.

    In addition there is a #big-dimmer element that overlays the second row. This is applied programmatically when the query
    has changed and the already presented results are not representative for the query.

    When the matches are loading a big spinner is shown on top of the #big-dimmer. When the matches are received then the spinner
    and "big- dimmer are hidden.

    If the categories are not ready, when the matches are, then a left-dimmer is added over the categories with a spinner to
    indicate that it is still loading.
*/

#container {
    display: grid;
    grid-template-areas: "header header header" "nav content side" "footer footer footer";
    grid-template-columns: 250px 1fr 300px;
    grid-template-rows: auto 1fr auto;
    grid-gap: 10px;
    height: 100vh;
}

#container.no-details {
    grid-template-areas: "header header header" "nav content content" "footer footer footer";
}

#container.introduction {
    grid-template-areas: "header header header" "introduction introduction introduction" "footer footer footer";
}

#container.error {
    grid-template-areas: "header header header" "error error error" "footer footer footer";
}

#container.introduction nav,
#container.introduction main,
#container.introduction aside,
#container.error nav,
#container.error main,
#container.error aside,
#container.no-details nav,
#container.no-details main,
#container.no-details aside {
    display: none;
}

#introduction {
    grid-area: introduction;
    display: none;
    padding: 0 2em;
    font-size: smaller;
}

#introduction dt {
    font-weight: bold;
}

#container.introduction #introduction {
    display: block;
}

#error {
    grid-area: error;
    display: none;
}

#container.error #error {
    display: block;
}

#dimmer {
    background-color: rgba(255, 255, 255, 0.8);
    display: none;
}

#introduction,
#error,
#dimmer {
    grid-row: 2/3;
    grid-column: 1/4;
    overflow-y: auto;
}

button#reset.hidden {
    display: none;
}

header {
    grid-area: header;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header p {
    font-size: smaller;
    width: 80%;
    text-align: left;
    margin: 0 auto;
}

header .query {
    margin-top: 1em;
}

#did-you-mean-container {
    display: none;
    margin-top: 1em;
}

#detail-types {
    display: none;
}

#metadata,
#properties {
    white-space: nowrap;
    display: none;
}

#did-you-mean {
    margin-top: 0;
    list-style-type: none;
    padding-left: 0;
}

#did-you-mean li {
    margin-left: 0;
    text-decoration: underline;
    font-style: italic;
}

nav {
    grid-area: nav;
    margin-left: 0.5rem;
    overflow-y: auto;
}

#categories>ul {
    list-style-type: none;
    padding-left: 0;
}


/* Group entry */

#categories ul li .entry {
    display: block;
    white-space: nowrap;
}

#categories>ul>li>.entry {
    display: block;
    background-color: silver;
    font-size: 1.1em;
    font-weight: bold;
    margin-top: 0.7em;
    white-space: nowrap;
}

#categories>ul .entry>.toggle {
    visibility: hidden;
    font-size: 0.7em;
    margin-right: 0.7em;
    display: inline-block;
    min-width: 0.5em;
    max-width: 0.5em;
    white-space: pre;
}

#categories>ul .has-children>.entry>.toggle {
    visibility: visible;
}

#categories>ul .collapsed.has-children>.entry>.toggle::before {
    content: "▶"
}

#categories>ul .expanded.has-children>.entry>.toggle::before:hover,
#categories>ul .collapsed.has-children>.entry>.toggle::before:hover {
    background-color: silver;
}

#categories>ul .expanded.has-children>.entry>.toggle::before {
    content: "▼"
}

#categories>ul .collapsed.has-children>ul {
    display: none;
}

#categories>ul ul {
    list-style-type: none;
    padding-left: 0.8em;
}

#categories>ul span.title {
    cursor: pointer;
}

#categories>ul li.has-matches>.entry {
    font-weight: bold;
}

#categories>ul li.is-filter>.entry {
    background-color: red;
}

#categories>ul li.has-filter>.entry {
    background-color: orange;
}

#categories>ul .count {
    padding: 0 0.5em;
    font-size: smaller;
}

#categories>ul .count::before {
    content: "(";
}

#categories>ul .count::after {
    content: ")";
}

main {
    grid-area: content;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

img.loading {
    visibility: hidden;
    height: 1em;
}

#matches-header.has-data {
    display: flex;
    justify-content: space-between;
}

#matches-header {
    display: none;
}

#order {
    font-size: smaller;
    margin-right: 0.5em;
}

#order .header {
    font-weight: bold;
}

#categories,
#matches,
#details {
    margin: 1em 0.5em 0 0;
    overflow-x: hidden;
}

#matches ul {
    list-style: none;
    padding: 0;
}

#matches li {
    margin-bottom: 0.5em;
}

#matches li .headline {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

#matches li .headline * {
    margin-left: 1em;
}

#matches li .headline .date {
    font-weight: 100;
    font-style: italic;
}

#matches li .headline .title {
    margin-left: 0;
}

#matches li .headline .rel-date-wrapper {
    text-align: right;
    white-space: nowrap;
}

#matches li .headline button {
    vertical-align: text-bottom;
}

#matches li .extracts {
    font-size: smaller;
    font-style: italic;
    padding: 0.2em 0 0.5em 0.1em;
    border-left: solid 0.2em silver;
    margin: 0 0 0 0.2em;
    background-color: rgba(248, 248, 255, 0.7);
}

#matches li .extract {
    padding: 0 0 0 0.6em;
}

#matches li .abstract {}

#matches>ul>li:hover {
    background-color: blanchedalmond;
}

#matches li .extract+.extract {
    border-top: solid 0.3em rgba(255, 255, 255, 0.95);
}

aside {
    grid-area: side;
    margin-right: 0.5rem;
    overflow-y: auto;
}

#details {
    font-size: smaller;
}

#title {
    font-size: initial;
    background-color: ghostwhite;
    font-weight: bold;
}

#details ul {
    list-style: none;
    padding-left: 0;
}

footer {
    grid-area: footer;
    text-align: center;
}

@media (max-width: 768px) {
    .container {
        grid-template-areas: "header" "nav" "content" "side" "footer";
        grid-template-columns: 1fr;
        grid-template-rows: /* Header */
        auto
        /* Nav */
        minmax(75px, auto)
        /* Content */
        auto
        /* Sidebar */
        minmax(75px, auto)
        /* Footer */
        auto;
    }
    nav,
    aside {
        margin: 0;
    }
}
