body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/*
    There are 4 different grid-layouts to accommodate the main full desktop scenarios. These are controlled by adding a
    class-name to the #container element:
    1. "welcome" - The starting state with welcome text.
    2. "no-details"   - Search-results without details.
    3. ""             - Search results with details.

    In addition there is a #big-dimmer element that overlays the second row. This is applied programmatically when the query
    has changed and the already presented results are not representative for the query.

    When the matches are loading a big spinner is shown on top of the #big-dimmer. When the matches are received then the spinner
    and full-dimmer are hidden.

    If the categories are not ready, when the matches are, then a left-dimmer is added over the categories with a spinner to
    indicate that it is still loading.
*/

#container {
    display: grid;
    grid-template-areas:
        "header header header"
        "categories matches details"
        "footer footer footer";
    grid-template-columns: 270px 3fr 2fr;
    grid-template-rows: auto 1fr auto;
    grid-gap: 10px;
    height: 100vh;
}

#container.dialog-settings:not(.welcome) {
    grid-template-areas:
        "header header header"
        "categories matches details"
        "settings settings settings";
    grid-template-rows: auto 2fr minmax(10%, 1fr);
}

#container.dialog-settings.welcome {
    grid-template-areas:
        "header header header"
        ". welcome welcome"
        "settings settings settings";
    grid-template-rows: auto 2fr minmax(10%, 1fr);
}

#container.welcome {
    grid-template-areas:
        "header header header"
        ". welcome welcome"
        "footer footer footer";
}

#container.no-matches {
    grid-template-areas:
        "header header header"
        "categories matches ."
        "footer footer footer";
}

#container.no-matches.dialog-settings {
    grid-template-areas:
        "header header header"
        ". matches ."
        "settings settings settings";
}

#container.no-details:not(.welcome) {
    grid-template-areas:
        "header header header"
        "categories matches matches"
        "footer footer footer";
}

#container.no-details.dialog-settings:not(.welcome) {
    grid-template-areas:
        "header header header"
        "categories matches matches"
        "settings settings settings";
}

#dialog-settings,
#dimmer,
#category-dimmer,
#container.welcome #categories,
#container.welcome #matches,
#container.welcome #details,
#container.no-details #details,
#container.no-matches #details,
#container.no-details #details {
    display: none;
}

#container.invalid-results #dimmer {
    display: block;
}
#container.invalid-results #dimmer .loader-wrapper {
    display: none;
}

.dialog {
    display: none;
    background-color: rgba(255, 255, 255, 0.7);
    overflow-y: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: 500;
}

.whiteout {
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 2000;
    display: flex;
    width: 100%;
}

.whiteout .spinner {
    z-index: 2500;
}

.dialog-content {
    margin: auto;
    width: 90%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    background-color: #f9f9f9;
    padding: 0.5em 1em;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

#not-ready .dialog-content,
#auth-pending .dialog-content,
#auth-error .dialog-content {
    height: unset;
    width: unset;
    padding-bottom: 1em;
    text-align: center;
    font-size: 80%;
}

#not-ready .dialog-content {
    display: none;
}

#auth-pending .spinner {
    zoom: 200%;
    display: block;
    padding-bottom: 1em;
}

#dialog-settings {
    grid-area: settings;
}

#container.dialog-category-configuration #dialog-category-configuration,
#container.dialog-about #dialog-about,
#container.dialog-help #dialog-help,
#container.not-ready #not-ready,
#container.auth-pending #auth-pending,
#container.auth-error #auth-error {
    display: flex;
}

#dialog-category-configuration {
    grid-row: 2/3;
    grid-column: 2/4;
    position: unset;
}
#dialog-category-configuration button {
    border: outset 1px;
    background-color: rgba(255, 255, 0, 0.3);
    font-weight: 400;
}

#grouping-display-name-panel,
#grouping-count-panel {
    display: none;
}

#grouping-display-name:checked ~ #grouping-display-name-panel,
#grouping-count:checked ~ #grouping-count-panel {
    display: block;
}

#dialog-about.show,
#dialog-help.show,
#container.dialog-settings #dialog-settings {
    display: flex;
}

button {
    background-color: transparent;
    cursor: pointer;
    outline: none;
    border: none;
}

button:hover {
    font-weight: bold;
}

.key-value-grid {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(
        auto-fill,
        minmax(200px, 1fr) minmax(200px, 2fr)
    );
    padding: 0.5em;
}

#dialog-category-configuration .dialog-content {
    width: unset;
    margin-left: 0;
    margin-top: 0;
}
#dialog-settings .dialog-content {
    margin: unset;
    height: unset;
    width: 100%;
    padding: 0.3em;
}

#dialog-settings .dialog-content legend {
    overflow-x: hidden;
}

.dialog-help {
    display: inline-block;
    margin-left: 1em;
    margin-right: 1em;
    font-style: italic;
    font-size: small;
}

#dialog-category-configuration .dialog-content header,
#dialog-about .dialog-content header,
#dialog-help .dialog-content header,
#dialog-settings .dialog-content header {
    padding: 0;
    display: flex;
    justify-content: space-between;
    border-bottom: thin solid silver;
}

#dialog-category-configuration .dialog-content header {
    border-bottom: none;
}
#dialog-category-configuration .dialog-content header h1 {
    font-size: 1em;
}
#dialog-settings .dialog-content header {
    border-bottom: none;
    flex-shrink: 0;
}

#dialog-settings .dialog-content header h1 {
    margin: 0;
    font-size: 1em;
    border-bottom: thin solid silver;
}

#dialog-settings ul.tab-container {
    width: 100%;
}

#dialog-help .dialog-content header h1 {
    margin: 0 0 1.2em 0;
}

#dialog-category-configuration .dialog-content .dialog-content-main,
#dialog-about .dialog-content .dialog-content-main,
#dialog-help .dialog-content .dialog-content-main,
#dialog-settings .dialog-content .dialog-content-main {
    flex-grow: 1;
    overflow-y: auto;
}

#dialog-settings .dialog-content .dialog-content-main {
    padding: 0.5em 0.5em 0 0.5em;
}

.dialog-content footer {
    text-align: center;
    border-top: thin solid silver;
    padding: 0.5em 0 0 0;
    font-size: initial;
    font-style: initial;
}

#dialog-category-configuration-close-button,
#dialog-about-close-button,
#dialog-help-close-button {
    float: right;
    background-color: transparent;
    cursor: pointer;
}

#dialog-settings-close-button {
    margin-left: auto;
    border-bottom: thin solid silver;
}

#dialog-settings fieldset {
    font-family: sans-serif;
    border: thin solid silver;
    border-radius: 5px;
    padding: 15px;
}

#dialog-settings fieldset legend {
    padding: 5px 10px;
    border-radius: 5px;
    margin-left: 20px;
}

#dialog-settings section {
    margin: 1em 0 0 2em;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 0.5em;
}

#dialog-settings section input {
    justify-self: flex-end;
}

#status-code {
    margin-top: -1em;
    display: inline-block;
    color: #02cb22;
    text-shadow: 0.04em 0.07em 0.05em rgba(127, 127, 127, 0.6);
    font-weight: 900;
    font-size: 2em;
}

#welcome {
    display: none;
    grid-area: welcome;
    padding: 0 2em 0 0;
    font-size: smaller;
    overflow-y: auto;
}

#welcome .wrapper {
    margin: 0 auto;
}

#welcome dt {
    font-weight: bold;
}

#welcome dd {
    margin-left: 0px;
    padding: 0.2em 0;
    padding-bottom: 1em;
}

#container.welcome #welcome {
    display: block;
}

#dimmer,
#category-dimmer {
    margin: -10px 0;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 100;
    flex-direction: column;
    overflow: hidden;
}

#dimmer,
#category-dimmer {
    grid-row: 2/3;
    grid-column: 1/4;
    overflow-y: auto;
}

#category-dimmer {
    grid-column: 1/2;
}

#category-dimmer .whiteout,
#dimmer .whiteout {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

#dimmer .loader {
    left: 45%;
}

#category-dimmer .loader-wrapper {
    zoom: 50%;
}

#container.query-changed:not(.matches-loading) #dimmer,
#container.query-changed:not(.categories-loading) #dimmer {
    background-image: none;
    display: block;
}

#container.query-changed:not(.matches-loading) #dimmer .loader-wrapper,
#container.query-changed:not(.categories-loading) #dimmer .loader-wrapper {
    display: none;
}

#container.matches-loading #dimmer,
#container.categories-loading:not(.matches-loading) #category-dimmer {
    display: flex;
}

#container.matches-loading.categories-loading #category-dimmer {
    display: none;
}

#container.categories-loading.no-matches #category-dimmer {
    display: none;
}

#container.no-matches #no-matches {
    display: block;
    flex-grow: 10;
}

#no-matches {
    display: none;
}

button#reset.hidden {
    display: none;
}

#header {
    grid-area: header;
    background-color: #f9f9f9;
    border-bottom: thin solid #dedede;
    text-align: left;
    /*height: 120px;*/
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: stretch;
}

#menu {
    margin: 0 0.5em 0 auto;
    align-self: flex-start;
    position: relative;
    display: inline-block;
}

#menu-button {
    padding: 0.5em;
    background-color: transparent;
    color: #000;
    border: none;
    font-size: 1.5em;
}

#menu-button:focus {
    outline: 0;
}

#menu:hover {
    background-color: #dfdfdf;
}

/* The container <div> - needed to position the dropdown content */
#menu-button {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

#container.welcome #menu-option-toggle-details {
    color: silver;
}

#container:not(.no-details) #menu-option-toggle-details::before {
    content: "Hide details";
}

#container.no-details #menu-option-toggle-details::before {
    content: "Show details";
}

/* Dropdown Content (Hidden by Default) */
#menu.show #menu-list {
    display: block;
}

#menu-list {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    cursor: pointer;
    margin: 1px;
    padding: 1px;
}

/* Links inside the dropdown */
#menu-list li {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
#menu-list li:hover {
    background-color: #dfdfdf;
}

#top {
    display: flex;
    justify-content: start;
    margin-left: 10px;
    align-items: center;
    padding-top: 10px;
    min-height: 5em;
    /* When not tabs are enabled, the #top otherwise becomes a wee bit small...*/
}

#header #top h1 {
    align-self: start;
    padding-top: 0.275em;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 20px 0 10px;
    display: block;
}

#logo {
    align-self: start;
    background: url("../images/INTS_Logo.svg") 0 0 no-repeat;
    background-size: contain;
    width: 50px;
    height: 50px;
}

#header #top .query {
    margin-top: 0;
    margin-bottom: 3px;
}

#header #top .search-type {
    font-size: 0.8em;
    margin-left: 0.7em;
}

#header p {
    font-size: smaller;
    width: 80%;
    text-align: left;
    margin: 0 auto;
}

#query-text {
    font-family: inherit;
    border: none;
    height: 40px;
    outline: none;
    box-shadow: none;
    width: 100%;
    padding-left: 0;
    resize: none;
    max-height: 66px;
    font-size: 32px;
}

.not-ready #query-text {
    color: #eee;
}

.query {
    background-color: #ffffff;
    border: thin solid #dddddd;
    vertical-align: top;
    height: 44px;
    width: 630px;
    border-radius: 4px;
    padding: 0 5px;
    display: flex;
}

.query .awesomplete {
    width: 100%;
    z-index: 500;
}

.query-text:focus,
.query button:focus {
    outline: none;
}

.query button {
    background-color: transparent;
    border: 0;
    width: 25px;
}

.search.icon,
#go > span {
    color: #000;
    position: absolute;
    margin-top: -10px;
    margin-left: -10px;
    width: 12px;
    height: 12px;
    border: solid 2px currentColor;
    border-radius: 100%;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.search.icon:before,
#go > span:before {
    content: "";
    position: absolute;
    top: 12px;
    left: 5px;
    height: 10px;
    width: 2px;
    background-color: currentColor;
}

.query svg {
    width: 24px;
    height: 24px;
}

#tabs {
    display: none;
    /*display: flex;*/
    margin-left: 280px;
}

#tabs div {
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 12px;
    font-size: 13px;
}

#tabs .selected {
    color: #1a73e8;
    border-bottom: #1a73e8 solid 5px;
    font-weight: 700;
}

/*#tabs div.selected {
    color: #1A73E8;
    border-bottom: #1A73E8 solid 3px;
    font-weight: 700;
}*/

#categories,
#matches,
#details {
    overflow-x: hidden;
}

#details > .close {
    position: absolute;
    right: 0;
    margin: -0.7em 1.1em;
    cursor: pointer;
}

#details > .close:hover {
    font-weight: bold;
}

/*** CATEGORIES ***/

#categories {
    grid-area: categories;
    margin-left: 0.5rem;
    overflow-y: auto;
}

#categories-tree > ul {
    list-style-type: none;
    padding-left: 0;
}

/* Group entry */

#categories-tree ul li .entry {
    display: block;
    white-space: nowrap;
}

#categories-tree > ul > li > .entry {
    display: block;
    font-weight: bold;
    margin-top: 0.7em;
    white-space: nowrap;
}

#categories-tree > ul li > .entry {
    border-bottom: 0px solid #dedede;
    display: flex;
    justify-content: stretch;
}

#categories-tree > ul li > .entry > .link {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
}

#categories-tree > ul li > .entry > .link > .title {
    flex-grow: 1;
}

#categories-tree > ul .collapsed.has-children > .entry {
    border-bottom: thin solid #dedede;
}

#categories-tree > ul .entry > .toggle {
    visibility: hidden;
    font-size: 0.7em;
    margin-left: 0.7em;
    margin-right: 0.3em;
    display: inline-block;
    min-width: 1.5em;
    max-width: 1.5em;
    white-space: pre;
    vertical-align: middle;
    cursor: pointer;
}

#categories-tree > ul > li > .entry > .toggle {
    margin-top: -0.3em;
}

#categories-tree > ul .has-children > .entry > .toggle {
    visibility: visible;
}

#categories-tree > ul .collapsed.has-children > .entry > .toggle,
#categories-tree > ul .expanded.has-children > .entry > .toggle {
    color: #000;
    position: relative;
    margin-top: 0;
    width: 0px;
    height: 16px;
    background-color: transparent;
}

#categories-tree > ul .collapsed.has-children > .entry > .toggle:before {
    content: "";
    position: absolute;
    right: 5px;
    top: 2px;
    width: 8px;
    height: 8px;
    border-top: solid 2px currentColor;
    border-right: solid 2px currentColor;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

#categories-tree > ul .expanded.has-children > .entry > .toggle:before {
    content: "";
    position: absolute;
    left: 4px;
    top: 0px;
    width: 8px;
    height: 8px;
    border-top: solid 2px currentColor;
    border-right: solid 2px currentColor;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}

.ctrl
    #categories-tree:hover
    > ul
    .expanded.has-children
    > .entry
    > .toggle:before,
.ctrl
    #categories-tree:hover
    > ul
    .collapsed.has-children
    > .entry
    > .toggle:before {
    content: "☸";
    border: none;
    transform: unset;
    zoom: 156%;
    margin: -0.48em 0 0 -3px;
    font-weight: normal;
    text-shadow: 0.1em 0.1em 0.1em silver;
}

.ctrl
    #categories-tree:hover
    > ul
    .expanded.has-children
    > .entry
    > .toggle:before {
    margin-top: -0.33em;
}

#categories-tree > ul .collapsed.has-children > ul {
    display: none;
}

#categories-tree > ul ul {
    list-style-type: none;
    padding-left: 0.8em;
    padding-top: 4px;
}

#categories-tree li > ul > li > .entry {
    padding: 0.2em 0 0 0.2em;
    margin: 0 0 0 -0.2em;
    cursor: pointer;
    border: solid 0.05em transparent;
    border-radius: 0.3em;
}

#categories-tree > ul li.is-filter > .entry > .link {
    /*background-color: rgba(159, 197, 88, 0.3);*/
    cursor: pointer;
}

#categories-tree > ul li.is-filter > .entry > .filter {
    /* Green circle */
    color: rgba(122, 193, 67, 1);
    position: relative;
    margin-top: 1px;
    margin-right: 0.3em;
    width: 14px;
    height: 14px;
    background-color: currentColor;
    /*border: solid 1px currentColor;*/
    border-radius: 100%;
}

#categories-tree > ul li.is-filter > .entry > .filter::after {
    /* Checkmark */
    content: "";
    position: absolute;
    color: #fff;
    margin-left: 3px;
    margin-top: 3px;
    width: 7px;
    height: 4px;
    border-bottom: solid 1px currentColor;
    border-left: solid 1px currentColor;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#categories-tree > ul li.has-filter > .entry > .filter {
    /* Green outer circle */
    color: rgba(122, 193, 67, 0.6);
    position: relative;
    margin-top: 2px;
    margin-right: 0.3em;
    width: 12px;
    height: 12px;
    border: solid 1px currentColor;
    border-radius: 100%;
}

#categories-tree > ul li.has-filter > .entry > .filter:after {
    /* Green inner circle */
    content: "";
    position: absolute;
    left: 1px;
    top: 1px;
    width: 10px;
    height: 10px;
    background-color: currentColor;
    border-radius: 50%;
}

#categories-tree > ul .count {
    padding: 0 1em;
    font-size: smaller;
}

#categories-tree > ul .count::before {
    content: "";
}

#categories-tree > ul .count::after {
    content: "";
}

#categories-tree > ul {
    margin-top: 0;
}

#categories > ul > li > .entry {
    background-color: transparent;
}

#categories-tree .no-matches-with-filters {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#categories-tree .no-matches-with-filters button {
    background-color: #f9f9f9;
    border-style: outset;
    font-weight: bold;
    margin: 0 auto;
}

/*** MATCHES ***/
#matches {
    grid-area: matches;
    display: flex;
    flex-direction: column;
}

#did-you-mean-container {
    margin-top: 1em;
    flex-shrink: 0;
}

#did-you-mean {
    margin-top: 0;
    list-style-type: none;
    padding-left: 0;
}

#did-you-mean li {
    margin-left: 0;
    text-decoration: underline;
    font-style: italic;
}

#matches-header.has-data {
    display: flex;
    justify-content: space-between;
}

#matches-header {
    display: none;
    flex-shrink: 0;
}

#matches-stats {
    font-size: smaller;
}

#matches-order {
    display: none;
    font-size: smaller;
    margin-right: 0.5em;
}

#matches-order.show {
    display: block;
}

#matches-order .header {
    font-weight: bold;
}

#matches-list {
    flex-grow: 1;
    overflow-y: auto;
}

#matches-list ul {
    list-style: none;
    padding: 0;
}

#matches-list li > div {
    margin-top: 30px;
    margin-right: 10px;
    padding: 5px;
}

#matches-list li:first-child > div {
    margin-top: 0;
}

#matches-list li.current {
    background-color: rgba(0, 0, 0, 0.03);
}

#matches-list li .headline {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

#matches-list li .headline * {
    margin-left: 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 18px;
    font-weight: normal;
}

#matches-list li .date {
    display: block;
    color: rgb(53, 175, 39);
    font-size: 0.8em;
    margin: 0.2em 0 0 0.5rem;
}

#matches-list a {
    text-decoration: none;
}

#matches-list a:link {
    color: #3d91c6;
}

#matches-list a:visited,
#matches-list a:active {
    color: #3d91c6;
}

#matches-list a:hover {
    text-decoration: underline;
}

#matches-list .item.parent-level-1 {
    margin-top: 10px;
    margin-left: 4em;
}

#matches-list .item.parent-level-1 img.icon-primary {
    visibility: hidden;
}

#matches-list .item .title {
    display: flex;
    flex-direction: row;
}

#matches-list .item img.icon-primary {
    height: 2.5em;
}

#matches-list .item img.icon-primary + img.icon-overlay {
    /*height: 1em;
    margin-left: -2.7em;
    margin-top: 1.2em;*/
    height: 32px; /*1em;*/
    min-width: 32px; /*1em;*/
    margin-left: -1.3em;
}

#matches-list .item.parent-level-1 img.icon-primary + img.icon-overlay {
    margin-left: -2.7em;
}

#matches-list .item .headline {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

#matches-list li .extracts {
    font-size: smaller;
    font-style: normal;
    padding: 0 0 0 0.5em;
    border-left: solid thick silver;
    margin: 1em 0 1em 0;
    background-color: transparent;
    line-height: 1em;
}

#matches-list li .extract {
    display: block;
    padding: 0 0 0.5em 0;
}

#details-content b,
#matches-list li .extract b {
    background-color: lemonchiffon;
}

#categories-filters .filter,
#matches-list .category {
    /*border-radius: 0.9em;*/
    border: solid 0.1em transparent;
    padding: 0.2em 0.5em;
    margin: 0.1em 0.5em 0 0;
    background-color: rgba(219, 219, 219, 0.5);
    font-size: 0.8em;
    display: inline-block;
    cursor: pointer;
}

#matches-list .category.is-filter {
    /*background-color: rgba(159, 197, 88, 0.3);*/
    background-color: rgba(122, 193, 67, 0.3);
}

#matches-list .category:hover {
    border-color: rgba(0, 0, 0, 0.3);
}

#matches-pager {
    display: none;
    flex-shrink: 0;
    font-size: 1.1em;
    align-items: baseline;
    margin-top: 0.5em;
}

#matches-pager.show {
    display: flex;
}

#matches-pager-label {
    display: inline;
}

#matches-pager-items {
    list-style-type: none;
    margin: 0;
    padding: 0 0 0 0.6em;
}

#matches-pager-items li {
    display: inline;
    padding: 0 0.4em;
    font-weight: 100;
}

#matches-pager-items li.disabled,
#matches-pager-items li.ellipsis {
    font-weight: 100;
    color: #dcdcdc;
}

#matches-pager-items li:not(.selected):not(.ellipsis):not(.disabled):hover {
    cursor: pointer;
    background-color: #dcdcdc;
}

#matches-pager-items li.selected {
    font-weight: 900;
}

/*** DETAILS ***/
#details {
    grid-area: details;
    margin-right: 0.5rem;
    overflow-y: auto;
    font-size: smaller;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    background-color: #fdfdfd;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

/* Controlling showing help, properties and content based on the classname showhelp on #details. */
#details:not(.showhelp) #details-help {
    display: none;
}

#details.showhelp #details-content,
#details.showhelp #details-properties {
    display: none;
}

/* Controlling whether to show content or properties based on the class of #details. */
#details.content #details-content {
    display: block;
}

#details.content #details-properties {
    display: none;
}

#details.properties #details-content {
    display: none;
}

#details.properties #details-properties {
    display: block;
}

#details-help {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#details-header {
    flex-shrink: 0;
}

#details-title {
    font-size: initial;
    background-color: transparent;
    font-weight: bold;
}

#details-content {
    display: block;
    flex-grow: 1;
    overflow-y: auto;
}

#details ul {
    list-style: none;
    padding-left: 0;
}

#details-types {
    margin: 0.5em 0 0 -0.4em;
}

#details > h2 {
    margin: 0 0 10px 0;
    border-bottom: thin solid #dedede;
}

#details-properties {
    display: none;
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
}

#details-properties h2 {
    font-size: 1.2em;
    margin-bottom: 0.3em;
}

#details-properties dl {
    margin: 0 0 0 1em;
}

#details-properties dt {
    float: left;
    clear: left;
    margin-right: 1em;
    font-weight: bold;
}

#details-properties dd {
    margin-left: 0px;
    white-space: normal;
    padding-left: 2em;
    padding-bottom: 0.25em;
}

#details-properties ul {
    margin: 0 0 0 1em;
}

#details-properties .categories {
    font-weight: bold;
}

#footer {
    display: none;
    grid-area: footer;
    text-align: center;
    background-color: #f9f9f9;
    border-top: thin solid #dedede;
    padding: 10px;
    font-size: 19px;
}

#container:not(.dialog-settings) #footer {
    display: block;
}

/* Loading indicator */

.loader-wrapper {
    z-index: 100;
    width: 100%;
}

.loader {
    display: block;
    position: relative;
    left: 50%;
    top: 40%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 15px solid transparent;
    border-top-color: #003d4a;
    border-bottom-color: #003d4a;
    -webkit-animation: spin 2s linear infinite;
    /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite;
    /* Chrome, Firefox 16+, IE 10+, Opera */
    overflow: hidden;
}

.loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 15px solid transparent;
    border-top-color: #a4ca30;
    border-bottom-color: #a4ca30;
    -webkit-animation: spin 1.2s linear infinite;
    -webkit-animation-direction: reverse;
    /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 1.2s linear infinite;
    animation-direction: reverse;
    /* Chrome, Firefox 16+, IE 10+, Opera */
}

.loader:after {
    content: "";
    position: absolute;
    top: 25px;
    left: 25px;
    right: 25px;
    bottom: 25px;
    border-radius: 50%;
    border: 50px solid transparent;
    border-top-color: #003d4a;
    border-bottom-color: #003d4a;
    -webkit-animation: spin 1.5s linear infinite;
    /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 1.5s linear infinite;
    /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);
        /* IE 9 */
        transform: rotate(0deg);
        /* Firefox 16+, IE 10+, Opera */
    }

    100% {
        -webkit-transform: rotate(360deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);
        /* IE 9 */
        transform: rotate(360deg);
        /* Firefox 16+, IE 10+, Opera */
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);
        /* IE 9 */
        transform: rotate(0deg);
        /* Firefox 16+, IE 10+, Opera */
    }

    100% {
        -webkit-transform: rotate(360deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);
        /* IE 9 */
        transform: rotate(360deg);
        /* Firefox 16+, IE 10+, Opera */
    }
}

/* Mini spinner for autocomplete and authentication */

.spinner {
    z-index: 1500;
}

#spinner {
    visibility: hidden;
}

.spinner:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    width: 10px;
    height: 10px;
    margin-top: 2px;
    margin-left: -3px;
    border-radius: 50%;
    border: 2px solid #ccc;
    border-top-color: #333;
    animation: spinner 0.6s linear infinite;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.show {
    display: block;
}

ul.tab-container {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.tab-container li.tab {
    display: inline;
    padding: 0 0.3em;
    cursor: pointer;
    border: thin solid silver;
    font-size: 0.9em;
    border-top-left-radius: 0.4em;
    border-top-right-radius: 0.4em;
}

ul.tab-container li.tab.current {
    background-color: rgba(0, 0, 0, 0.08);
    border-bottom-color: transparent;
}

.tab-content:not(.current) {
    display: none;
}

.tab-content-container {
    background-color: rgba(0, 0, 0, 0.08);
    border: thin solid silver;
    border-top: none;
    padding: 0.5em;
}

.tab-spacer {
    flex-grow: 1;
    border-bottom: thin solid silver;
}
fieldset {
    border-radius: 0.4em;
}
fieldset + fieldset {
    margin-top: 1em;
}

label[for]:hover {
    text-decoration: underline;
    cursor: pointer;
}

.help-block {
    font-size: 0.85em;
    font-style: italic;
    background: rgba(255, 255, 0, 0.1);
}

#dialog-category-configuration .toggle-button {
    display: block;
    border: outset 1px;
    background-color: rgba(255, 255, 0, 0.3);
    float: right;
    font-weight: 400;
}

#dialog-category-configuration .toggle-button:hover {
    background-color: rgba(255, 255, 0, 0.6);
}

.category-config-node {
    height: 1em;
    width: 1em;
    visibility: hidden;
    cursor: pointer;
    vertical-align: middle;
    text-shadow: 0.1em 0.1em 0.1em silver;
    margin: 0;
}

#categories:hover .category-config-node:before {
    content: "☸";
}

.ctrl .category-config-node,
.ctrl .category-config-node:hover {
    visibility: visible;
}

/* Responsive design */

@media (max-width: 815px) {
    #container {
        grid-template-areas:
            "header"
            "categories"
            "matches"
            "footer";
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 1fr auto;
        height: calc(100vh-60px);
    }

    #container.welcome {
        grid-template-areas:
            "header"
            "welcome"
            "footer";
        grid-template-rows: auto 1fr auto;
        height: 100vh;
    }

    #container.no-details {
        grid-template-areas:
            "header"
            "matches"
            "footer";
        grid-template-rows: auto 1fr auto;
    }

    #container.no-details:not(.welcome) {
        grid-template-areas:
            "header"
            "matches"
            "footer";
        grid-template-rows: auto 1fr auto;
    }

    #categories,
    #welcome,
    #matches,
    #details {
        padding: 0 1em 0 1em;
    }

    #container.no-details #categories,
    #container.no-details #categories-tree {
        display: none;
    }

    #top {
        flex-wrap: wrap;
        margin-left: 0;
        margin-right: 0;
    }

    #query-wrapper {
        margin-top: 5px;
        width: 100vw;
    }

    .query {
        width: 90vw;
        margin: auto;
    }

    #menu {
        position: absolute;
        right: 5px;
    }

    #container:not(.no-details) #menu-option-toggle-details::before {
        content: "Hide categories";
    }

    #container.no-details #menu-option-toggle-details::before {
        content: "Show categories";
    }

    #details {
        display: none !important;
    }

    #header #top .search-type {
        margin-left: 0;
        text-align: center;
    }

    #matches-header.has-data {
        display: block;
    }

    #matches-pager-label span {
        display: none;
    }

    #matches-pager-items {
        padding-left: 0;
        margin-left: auto;
        margin-right: auto;
    }
}
/* Awesomplete overrides */
.awesomplete {
    margin-left: 0.45em;
}

.awesomplete mark {
    background: unset;
    font-weight: 100;
}

.awesomplete li:hover mark {
    background: unset;
}

.awesomplete li {
    font-weight: 700;
}

#awn-toast-container.awn-top .awn-toast:first-child {
    margin-top: 0 !important;
}

.awn-toast {
    padding-right: 44px !important;
    width: 360px;
}

.awn-toast-alert .alert {
    padding-top: 0.4em;
    border-top: solid 1px;
}
.awn-toast-alert .type {
    font-weight: bold;
}

.awn-toast-alert .type,
.awn-toast-alert .message {
    display: inline-block;
}

.awn-toast-alert .details {
    margin-top: 0.4em;
    font-size: smaller;
}
