body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/*
    There are 4 different grid-layouts to accommodate the main full desktop scenarios. These are controlled by adding a
    class-name to the #container element:
    1. "welcome" - The starting state with welcome text.
    2. "no-details"   - Search-results without details.
    3. ""             - Search results with details.
    4. "error"        - Shows an error on the page.

    In addition there is a #big-dimmer element that overlays the second row. This is applied programmatically when the query
    has changed and the already presented results are not representative for the query.

    When the matches are loading a big spinner is shown on top of the #big-dimmer. When the matches are received then the spinner
    and full-dimmer are hidden.

    If the categories are not ready, when the matches are, then a left-dimmer is added over the categories with a spinner to
    indicate that it is still loading.
*/

#container {
    display: grid;
    grid-template-areas:
        "header header header"
        "categories matches details"
        "footer footer footer";
    grid-template-columns: 270px 3fr 2fr;
    grid-template-rows: auto 1fr auto;
    grid-gap: 10px;
    height: 100vh;
}
#container.settings:not(.welcome) {
    grid-template-areas:
        "header header header"
        "categories matches details"
        "settings settings settings";
    grid-template-rows: auto 2fr minmax(10%, 1fr);
}

#container.welcome {
    grid-template-areas:
        "header header header"
        ". welcome ."
        "footer footer footer";
}

#container.no-matches {
    grid-template-areas:
        "header header header"
        ". matches ."
        "footer footer footer";
}
#container.no-matches.settings {
    grid-template-areas:
        "header header header"
        ". matches ."
        "settings settings settings";
}

#container.no-details {
    grid-template-areas:
        "header header header"
        "categories matches matches"
        "footer footer footer";
}
#container.no-details.settings {
    grid-template-areas:
        "header header header"
        "categories matches matches"
        "settings settings settings";
}

#container.error {
    grid-template-areas:
        "header header header"
        "error error error"
        "footer footer footer";
}
#container.error.settings {
    grid-template-areas:
        "header header header"
        "error error error"
        "settings settings settings";
}

#welcome,
#help,
#settings,
#error,
#dimmer,
#category-dimmer,
#container.welcome #categories,
#container.welcome #matches,
#container.welcome #details,
#container.no-matches #categories,
#container.no-matches #details,
#container.error #categories,
#container.error #matches,
#container.error #details,
#container.error #welcome,
#container.no-details #details {
    display: none;
}

#about,
#help,
#settings {
    display: none;
    background-color: rgba(255, 255, 255, 0.7);
    overflow-y: auto;
    margin-bottom: -10px;
}

#about,
#help {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
}
#about .whiteout,
#help .whiteout {
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 2000;
    display: flex;
}

#settings {
    grid-area: settings;
}
#about.show,
#help.show,
#container.settings:not(.welcome) #settings {
    display: flex;
}

button {
    background-color: transparent;
    cursor: pointer;
    outline: none;
    border: none;
}
button:hover {
    font-weight: bold;
}

.key-value-grid {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(
        auto-fill,
        minmax(200px, 1fr) minmax(200px, 2fr)
    );
    padding: 0.5em;
}

#about .dialog,
#help .dialog,
#settings .dialog {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    background-color: #f9f9f9;
    padding: 0.5em 1em;
    display: flex;
    flex-direction: column;
    width: 100%;
}
#about .dialog,
#help .dialog {
    margin: auto;
    height: 90%;
    width: 90%;
}

#settings .dialog legend {
    overflow-x: hidden;
}

.help {
    display: inline-block;
    margin-left: 1em;
    margin-right: 1em;
    font-style: italic;
    font-size: small;
}

#about .dialog header,
#help .dialog header,
#settings .dialog header {
    margin: 0 -0.5em 0 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px silver;
}
#settings .dialog header {
    /*margin-bottom: 0.5em;*/
    border-bottom: none;
    flex-shrink: 0;
}

#settings .dialog header h1 {
    margin: 0;
    font-size: 1em;
}

#help .dialog header h1 {
    margin: 0 0 1.2em 0;
}
#about .dialog main,
#help .dialog main,
#settings .dialog main {
    flex-grow: 1;
    overflow-y: auto;
}
#about .dialog footer {
    text-align: center;
    border-top: solid 1px silver;
    padding: 0.5em 0 0 0;
}

#about-close-button,
#help-close-button {
    float: right;
    background-color: transparent;
    cursor: pointer;
}

#settings-close-button {
    margin-left: auto;
}

#settings fieldset {
    font-family: sans-serif;
    border: 1px solid silver;
    border-radius: 5px;
    padding: 15px;
}

#settings fieldset legend {
    padding: 5px 10px;
    border-radius: 5px;
    margin-left: 20px;
}

#settings section {
    margin: 1em 0 0 2em;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 0.5em;
}
#settings section input {
    justify-self: flex-end;
}

#status-code {
    margin-top: -1em;
    display: inline-block;
    color: #02cb22;
    text-shadow: 0.04em 0.07em 0.05em rgba(127, 127, 127, 0.6);
    font-weight: 900;
    font-size: 2em;
}
#welcome {
    grid-area: welcome;
    padding: 0 2em;
    font-size: smaller;
}

#welcome dt {
    font-weight: bold;
}
#welcome dd {
    margin-left: 0px;
    padding: 0.2em 0;
    padding-bottom: 1em;
}

#error {
    grid-area: error;
    padding: 0 2em;
}

#container.welcome #welcome,
#container.help #help,
#container.error #error {
    display: block;
}

#dimmer,
#category-dimmer {
    margin: -10px 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 100;
    flex-direction: column;
    overflow: hidden;
}

#dimmer,
#category-dimmer {
    grid-row: 2/3;
    grid-column: 1/4;
    overflow-y: auto;
}
#category-dimmer {
    grid-column: 1/2;
}

#category-dimmer .whiteout,
#dimmer .whiteout {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.7);
}

#dimmer .loader {
    left: 45%;
}
#category-dimmer .loader-wrapper {
    zoom: 50%;
}

/* Show #dimmer when query has changed (but not if loading). */
#container.query-changed:not(.matches-loading) #dimmer,
#container.query-changed:not(.categories-loading) #dimmer {
    background-image: none;
    display: block;
}
#container.query-changed:not(.matches-loading) #dimmer .loader-wrapper,
#container.query-changed:not(.categories-loading) #dimmer .loader-wrapper {
    display: none;
}

/* Show #dimmer when matches are loading. */
#container.matches-loading #dimmer,

/* Show the #category-dimmer when only categories are loading. */
#container.categories-loading:not(.matches-loading) #category-dimmer {
    display: flex;
}

/* Hide the #category-dimmer when both are loading */
#container.matches-loading.categories-loading #category-dimmer {
    display: none;
}
#container.categories-loading.no-matches #category-dimmer {
    display: none;
}

#container.no-matches #no-matches {
    display: block;
    flex-grow: 10;
}
#no-matches {
    display: none;
}
#error span.key {
    font-weight: bold;
}
button#reset.hidden {
    display: none;
}

#header {
    grid-area: header;
    background-color: #f9f9f9;
    border-bottom: 1px solid#DEDEDE;
    text-align: left;
    /*height: 120px;*/
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: stretch;
}
#menu {
    margin: 0 0.5em 0 auto;
    align-self: flex-start;
    position: relative;
    display: inline-block;
}
#menu-button {
    padding: 0.5em;
    background-color: transparent;
    color: #000;
    border: none;
}

#menu-button:focus {
    outline: 0;
}

#menu:hover {
    background-color: #dfdfdf;
}

/* The container <div> - needed to position the dropdown content */
#menu-button {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* Dropdown Content (Hidden by Default) */
#menu.show #menu-list {
    display: block;
}
#menu-list {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    cursor: pointer;
}

/* Links inside the dropdown */
#menu-list li {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
#menu-list li:hover {
    background-color: #dfdfdf;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */

#top {
    display: flex;
    justify-content: start;
    margin-left: 10px;
    align-items: center;
    padding-top: 10px;
}

#header #top h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-indent: -9999px;
    line-height: 0;
    margin: 0 20px 0 10px;
}

#header #top h1::after {
    content: "IntelliSearch";
    text-indent: 0;
    line-height: initial;
    display: block;
}

#logo {
    background: url("../images/INTS_Logo.svg") 0 0 no-repeat;
    background-size: contain;
    width: 50px;
    height: 50px;
}

#header #top .query {
    margin-top: 0;
    margin-bottom: 3px;
}

#header #top .search-type {
    font-size: 0.8em;
    margin-left: 0.7em;
}

#header p {
    font-size: smaller;
    width: 80%;
    text-align: left;
    margin: 0 auto;
}

#query-text {
    border: none;
    height: 40px;
    outline: none;
    box-shadow: none;
    width: 100%;
    padding-left: 0;
    resize: none;
    max-height: 66px;
    font-size: 32px;
}
.query {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    vertical-align: top;
    height: 44px;
    width: 630px;
    border-radius: 4px;
    padding: 0 5px;
    display: flex;
}

.query .awesomplete {
    width: 100%;
}
.query-text:focus,
.query button:focus {
    outline: none;
}

.query button {
    background-color: transparent;
    border: 0;
}

.query svg {
    width: 24px;
    height: 24px;
}

#tabs {
    display: flex;
    margin-left: 280px;
}

#tabs div {
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 12px;
    font-size: 13px;
}

#tabs :first-child {
    color: #1a73e8;
    border-bottom: #1a73e8 solid 3px;
    font-weight: 700;
}

/*#tabs div.selected {
    color: #1A73E8;
    border-bottom: #1A73E8 solid 3px;
    font-weight: 700;
}*/

#categories,
#matches,
#details {
    overflow-x: hidden;
}

/*** CATEGORIES ***/

#categories {
    grid-area: categories;
    margin-left: 0.5rem;
    overflow-y: auto;
}

#categories-tree > ul {
    list-style-type: none;
    padding-left: 0;
}

/* Group entry */

#categories-tree ul li .entry {
    display: block;
    white-space: nowrap;
}

#categories-tree > ul > li > .entry {
    display: block;
    /*background-color: silver;*/
    font-size: 0.9em;
    font-weight: bold;
    margin-top: 0.7em;
    white-space: nowrap;
    /*padding-bottom: 10px;*/
}

#categories-tree > ul li > .entry {
    border-bottom: 0px solid #dedede;
    padding-top: 10px;
}

#categories-tree > ul .collapsed.has-children > .entry {
    border-bottom: 1px solid #dedede;
    padding-top: 10px;
}

#categories-tree > ul .entry > .toggle {
    visibility: hidden;
    font-size: 0.7em;
    margin-right: 0.7em;
    display: inline-block;
    min-width: 1.5em;
    max-width: 1.5em;
    white-space: pre;
    vertical-align: middle;
}

#categories-tree > ul .has-children > .entry > .toggle {
    visibility: visible;
}

#categories-tree .collapsed.has-children > .entry > .toggle::before {
    content: url(/images/collapse.svg); /*"▶";*/
}

#categories-tree > ul .expanded.has-children > .entry > .toggle::before {
    content: url(/images/expand.svg); /*"▼";*/
}

#categories-tree > ul .collapsed.has-children > ul {
    display: none;
}

#categories-tree > ul ul {
    list-style-type: none;
    padding-left: 0.8em;
    padding-top: 5px;
}

#categories-tree > ul span.title {
    cursor: pointer;
}

#categories-tree > ul li.has-matches > .entry {
    font-weight: bold;
}

#categories-tree > ul li.is-filter > .entry {
    background-color: red;
}

#categories-tree > ul li.has-filter > .entry {
    background-color: orange;
}

#categories-tree > ul .count {
    padding: 0 1em;
    font-size: smaller;
    float: right;
}

#categories-tree > ul .count::before {
    content: "";
}

#categories-tree > ul .count::after {
    content: "";
}

/* #categories > :first-child {
    display: none;
}

#categories > :nth-child(1) {
    display: none;
} */

#categories-tree > ul {
    margin-top: 0;
}

/*
#categories .collapsed.hasChildren span::before
{
    content: "\25b6";
}
#categories .collapsed :nth-child(2) {
    display:none;
}
#categories .expanded.hasChildren span::before
{
    content: "\25bc";
}

#categories .expanded.leafNode span::before
{
    content: "";
    margin-left: 12px;
}*/

#categories > ul > li > .entry {
    background-color: transparent;
}

/*** MATCHES ***/
#matches {
    grid-area: matches;
    display: flex;
    flex-direction: column;
}

#did-you-mean-container {
    margin-top: 1em;
    flex-shrink: 0;
}

#did-you-mean {
    margin-top: 0;
    list-style-type: none;
    padding-left: 0;
}

#did-you-mean li {
    margin-left: 0;
    text-decoration: underline;
    font-style: italic;
}

#matches-header.has-data {
    display: flex;
    justify-content: space-between;
}

#matches-header {
    display: none;
    flex-shrink: 0;
}

#matches-order {
    display: none;
    font-size: smaller;
    margin-right: 0.5em;
}
#matches-order.show {
    display: block;
}
#matches-order .header {
    font-weight: bold;
}

#matches-list {
    flex-grow: 1;
    overflow-y: auto;
}
#matches-list ul {
    list-style: none;
    padding: 0;
}

#matches-list li {
    margin-bottom: 30px;
    margin-right: 10px;
}
#matches-list li.current {
    background-color: rgba(0, 0, 0, 0.03);
}

#matches-list li .headline {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

#matches-list li .headline * {
    margin-left: 1em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 18px;
    font-weight: normal;
}

#matches-list li .date {
    font-style: italic;
    display: block;
}

#matches-list a {
    text-decoration: none;
}

#matches-list a:link {
    color: #1a0dab;
}

#matches-list a:visited,
#matches-list a:active {
    color: #609;
}

#matches-list a:hover {
    text-decoration: underline;
}

#matches-list li .extracts {
    font-size: smaller;
    font-style: normal;
    padding: 0.2em 0 0.5em 0.1em;
    border-left: solid 0 silver;
    margin: 0 0 0 0.2em;
    background-color: transparent;
}

#matches-list li .extract {
    display: block;
    padding: 0 0 0.5em 0;
}

#matches-list .category {
    border-radius: 1em;
    border: solid 0.1em transparent;
    padding: 0.2em 0.5em;
    margin: 0.1em 0.5em 0 0;
    background-color: gainsboro;
    font-size: small;
    display: inline-block;
    cursor: pointer;
}

#matches-list .category:hover {
    border-color: black;
}

#matches-pager {
    display: none;
    flex-shrink: 0;
    font-size: 1.1em;
    align-items: baseline;
    margin-top: 0.5em;
}
#matches-pager.show {
    display: flex;
}

#matches-pager-label {
    display: inline;
}

#matches-pager-items {
    list-style-type: none;
    margin: 0;
    padding: 0 0 0 0.6em;
}

#matches-pager-items li {
    display: inline;
    padding: 0 0.4em;
    font-weight: 100;
}
#matches-pager-items li.disabled,
#matches-pager-items li.ellipsis {
    font-weight: 100;
    color: #dcdcdc;
}

#matches-pager-items li:not(.selected):not(.ellipsis):not(.disabled):hover {
    cursor: pointer;
    background-color: #dcdcdc;
}

#matches-pager-items li.selected {
    font-weight: 900;
}

/*** DETAILS ***/
#details {
    grid-area: details;
    margin-right: 0.5rem;
    overflow-y: auto;
    font-size: smaller;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    background-color: #fdfdfd;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

/* Controlling showing help, properties and content based on the classname showhelp on #details. */
#details:not(.showhelp) #details-help {
    display: none;
}
#details.showhelp #details-content,
#details.showhelp #details-properties {
    display: none;
}

/* Controlling whether to show content or properties based on the class of #details. */
#details.content #details-content {
    display: block;
}
#details.content #details-properties {
    display: none;
}
#details.properties #details-content {
    display: none;
}
#details.properties #details-properties {
    display: block;
}

#details-help {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#details-header {
    flex-shrink: 0;
}
#details-title {
    font-size: initial;
    background-color: transparent;
    font-weight: bold;
}

#details-content {
    display: block;
    flex-grow: 1;
    overflow-y: auto;
}
#details ul {
    list-style: none;
    padding-left: 0;
}

#details-types {
    margin: 0.5em 0 0 -0.4em;
}

#details > h2 {
    margin: 0 0 10px 0;
    border-bottom: 1px solid #dedede;
}

#details-properties {
    display: none;
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
}

#details-properties h2 {
    font-size: 1.2em;
    margin-bottom: 0.3em;
}
#details-properties dl {
    margin: 0 0 0 1em;
}
#details-properties dt {
    float: left;
    clear: left;
    margin-right: 1em;
    font-weight: bold;
}
#details-properties dd {
    margin-left: 0px;
    white-space: normal;
    padding-left: 2em;
    padding-bottom: 0.25em;
}
#details-properties ul {
    margin: 0 0 0 1em;
}
#details-properties .categories {
    font-weight: bold;
}

#footer {
    display: none;
    grid-area: footer;
    text-align: center;
    background-color: #f9f9f9;
    border-top: 1px solid#DEDEDE;
    padding: 10px;
    font-size: 19px;
}
#container:not(.settings) #footer {
    display: block;
}

/* Loading indicator */

.loader-wrapper {
    z-index: 100;
    width: 100%;
}
.loader {
    display: block;
    position: relative;
    left: 50%;
    top: 40%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 15px solid transparent;
    border-top-color: #003d4a;
    border-bottom-color: #003d4a;
    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    overflow: hidden;
}

.loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 15px solid transparent;
    border-top-color: #a4ca30;
    border-bottom-color: #a4ca30;
    -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

.loader:after {
    content: "";
    position: absolute;
    top: 25px;
    left: 25px;
    right: 25px;
    bottom: 25px;
    border-radius: 50%;
    border: 50px solid transparent;
    border-top-color: #003d4a;
    border-bottom-color: #003d4a;
    -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg); /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg); /* IE 9 */
        transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg); /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg); /* IE 9 */
        transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg); /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg); /* IE 9 */
        transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg); /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg); /* IE 9 */
        transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
    }
}

/* Mini spinner for autocomplete */

#spinner {
    visibility: hidden;
    z-index: 100;
}

#spinner:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    width: 10px;
    height: 10px;
    margin-top: 2px;
    margin-left: -3px;
    border-radius: 50%;
    border: 2px solid #ccc;
    border-top-color: #333;
    animation: spinner 0.6s linear infinite;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.show {
    display: block;
}

ul.tab-container {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
ul.tab-container li.tab {
    display: inline;
    margin-left: 0.1em;
    padding: 0 0.3em;
    cursor: pointer;
    border: solid 1px silver;
    border-bottom: none;
    font-size: 0.9em;
    border-top-left-radius: 0.4em;
    border-top-right-radius: 0.4em;
}
ul.tab-container li.tab.current {
    background-color: rgba(0, 0, 0, 0.08);
}
.tab-content:not(.current) {
    display: none;
}

.tab-content-container {
    background-color: rgba(0, 0, 0, 0.08);
}

/* Responsive design */

@media (max-width: 768px) {
    .container {
        grid-template-areas: "header" "categories" "matches" "details" "footer";
        grid-template-columns: 1fr;
        grid-template-rows: /* Header */
            auto
            /* categories */
            minmax(75px, auto)
            /* matches */
            auto
            /* details */
            minmax(75px, auto)
            /* Footer */
            auto;
    }
    #categories,
    #details {
        margin: 0;
    }
}
