body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#container {
    display: grid;
    grid-gap: 10px;
    grid-template-areas: "header header header" "categories matches details" "footer footer footer";
    grid-template-columns: 270px 3fr 2fr;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

#container.dialog-settings:not(.welcome) {
    grid-template-areas: "header header header" "categories matches details" "settings settings settings";
    grid-template-rows: auto 2fr minmax(10%, 1fr);
}

#container.dialog-settings.welcome {
    grid-template-areas: "header header header" ". welcome welcome" "settings settings settings";
    grid-template-rows: auto 2fr minmax(10%, 1fr);
}

#container.welcome {
    grid-template-areas: "header header header" ". welcome welcome" "footer footer footer";
}

#container.no-matches {
    grid-template-areas: "header header header" "categories matches ." "footer footer footer";
}

#container.no-matches.dialog-settings {
    grid-template-areas: "header header header" ". matches ." "settings settings settings";
}

#container.no-details:not(.welcome) {
    grid-template-areas: "header header header" "categories matches matches" "footer footer footer";
}

#container.no-details.dialog-settings:not(.welcome) {
    grid-template-areas: "header header header" "categories matches matches" "settings settings settings";
}

#dialog-settings,
#dimmer,
#category-dimmer,
#matches-dimmer,
#container.welcome #categories,
#container.welcome #matches,
#container.welcome #details,
#container.no-details #details,
#container.no-matches #details,
#container.no-details #details {
    display: none;
}

.dialog {
    background-color: rgba(255, 255, 255, 0.7);
    bottom: 0;
    display: none;
    left: 0;
    overflow-y: auto;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 500;
}

.whiteout {
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    width: 100%;
    z-index: 2000;
}

.whiteout .spinner {
    z-index: 2500;
}

.dialog-content {
    background-color: #f9f9f9;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    margin: 20vh auto auto;
    overflow-y: auto;
    padding: 0.5em 1em;
    width: 40%;
}

#not-ready .dialog-content,
#auth-pending .dialog-content,
#auth-error .dialog-content {
    font-size: 80%;
    height: unset;
    padding-bottom: 1em;
    text-align: center;
    width: unset;
}

#not-ready .dialog-content {
    display: none;
}

#auth-pending .spinner {
    display: block;
    padding-bottom: 1em;
    zoom: 200%;
}

#dialog-settings {
    grid-area: settings;
}

#container.dialog-category-configuration #dialog-category-configuration,
#container.dialog-about #dialog-about,
#container.dialog-help #dialog-help,
#container.not-ready #not-ready,
#container.auth-pending #auth-pending,
#container.auth-error #auth-error {
    display: flex;
}

#dialog-category-configuration {
    grid-column: 2/4;
    grid-row: 2/3;
    position: unset;
}

#dialog-category-configuration button {
    background-color: rgba(255, 255, 0, 0.3);
    border: outset 1px;
    font-weight: 400;
}

#grouping-display-name-panel,
#grouping-count-panel {
    display: none;
}

#grouping-display-name:checked ~ #grouping-display-name-panel,
#grouping-count:checked ~ #grouping-count-panel {
    display: block;
}

#dialog-about.show,
#dialog-help.show,
#container.dialog-settings #dialog-settings {
    display: flex;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}

button:hover {
    font-weight: 700;
}

.key-value-grid {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(
        auto-fill,
        minmax(200px, 1fr) minmax(200px, 2fr)
    );
    padding: 0.5em;
}

#dialog-category-configuration .dialog-content {
    margin-left: 0;
    margin-top: 0;
    width: unset;
}

#dialog-settings .dialog-content {
    height: unset;
    margin: unset;
    padding: 0.3em;
    width: 100%;
}

#dialog-settings .dialog-content legend {
    overflow-x: hidden;
}

.dialog-help {
    display: inline-block;
    font-size: small;
    margin-left: 1em;
    margin-right: 1em;
}

#dialog-category-configuration .dialog-content header,
#dialog-about .dialog-content header,
#dialog-help .dialog-content header,
#dialog-settings .dialog-content header {
    border-bottom: thin solid silver;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

#dialog-category-configuration .dialog-content header {
    border-bottom: none;
}

#dialog-category-configuration .dialog-content header h1 {
    font-size: 1em;
}

#dialog-settings .dialog-content header {
    border-bottom: none;
    flex-shrink: 0;
}

#dialog-settings .dialog-content header h1 {
    border-bottom: thin solid silver;
    font-size: 1em;
    margin: 0;
}

#dialog-settings ul.tab-container {
    width: 100%;
}

#dialog-help .dialog-content header h1 {
    margin: 0 0 1.2em;
}

#dialog-category-configuration .dialog-content .dialog-content-main,
#dialog-about .dialog-content .dialog-content-main,
#dialog-help .dialog-content .dialog-content-main,
#dialog-settings .dialog-content .dialog-content-main {
    flex-grow: 1;
    overflow-y: auto;
}

#dialog-settings .dialog-content .dialog-content-main {
    padding: 0.5em 0.5em 0;
}

.dialog-content footer {
    border-top: thin solid silver;
    font-size: initial;
    font-style: initial;
    padding: 0.5em 0 0;
    text-align: center;
}

#dialog-category-configuration-close-button,
#dialog-about-close-button,
#dialog-help-close-button {
    background-color: transparent;
    cursor: pointer;
    float: right;
}

#dialog-settings-close-button {
    border-bottom: thin solid silver;
    margin-left: auto;
}

#dialog-settings fieldset {
    border: thin solid silver;
    border-radius: 5px;
    font-family: sans-serif;
    padding: 15px;
}

#dialog-settings fieldset legend {
    border-radius: 5px;
    margin-left: 20px;
    padding: 5px 10px;
}

#dialog-settings section {
    display: grid;
    grid-gap: 0.5em;
    grid-template-columns: auto 1fr;
    margin: 1em 0 0 2em;
}

#dialog-settings section input {
    justify-self: flex-end;
}

#status-code {
    color: #02cb22;
    display: inline-block;
    font-size: 2em;
    font-weight: 900;
    margin-top: -1em;
    text-shadow: 0.04em 0.07em 0.05em rgba(127, 127, 127, 0.6);
}

#welcome {
    display: none;
    font-size: smaller;
    grid-area: welcome;
    overflow-y: auto;
    padding: 0 2em 0 0;
}

#welcome .wrapper {
    margin: 0 auto;
}

#welcome dt {
    font-weight: 700;
}

#welcome dd {
    margin-left: 0;
    padding: 0.2em 0;
    padding-bottom: 1em;
}

#container.welcome #welcome {
    display: block;
}

#dimmer,
#matches-dimmer,
#category-dimmer {
    background-color: rgba(255, 255, 255, 0.7);
    flex-direction: column;
    grid-column: 1/4;
    grid-row: 2/3;
    margin: -10px 0;
    overflow: hidden;
    overflow-y: auto;
    z-index: 100;
}

#matches-dimmer {
    grid-column: 2/3;
}

#category-dimmer {
    grid-column: 1/2;
}

#matches-dimmer .whiteout,
#category-dimmer .whiteout,
#dimmer .whiteout {
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

#dimmer .loader {
    left: 45%;
}

#matches-dimmer .loader-wrapper,
#category-dimmer .loader-wrapper {
    zoom: 50%;
}

#container.query-changed:not(.matches-loading) #dimmer,
#container.query-changed:not(.categories-loading) #dimmer {
    background-image: none;
    display: block;
}

#container:not(.invalid-match-results) #matches-dimmmer,
#container:not(.invalid-category-results) #category-dimmmer,
#container.query-changed:not(.matches-loading) #dimmer .loader-wrapper,
#container.query-changed:not(.categories-loading) #dimmer .loader-wrapper {
    display: none;
}

#container.invalid-match-results #matches-dimmmer,
#container.invalid-category-results #category-dimmmer,
#container.matches-loading #dimmer,
#container.categories-loading:not(.matches-loading) #category-dimmer {
    display: flex;
}

#container.matches-loading.categories-loading #category-dimmer {
    display: none;
}

#container.categories-loading.no-matches #category-dimmer {
    display: none;
}

#container.no-matches #no-matches {
    display: block;
    flex-grow: 10;
}

#no-matches {
    display: none;
}

button#reset.hidden {
    display: none;
}

#header {
    align-items: stretch;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: thin solid #dedede;
    display: flex;
    flex-direction: column;
    grid-area: header;
    justify-content: start;
    text-align: left;
}

#menu {
    align-self: flex-start;
    display: inline-block;
    margin: 0 0.5em 0 auto;
    position: relative;
}

#menu-button {
    background-color: transparent;
    border: none;
    color: #000;
    font-size: 1.5em;
    padding: 0.5em;
}

#menu-button:focus {
    outline: 0;
}

#menu:hover {
    background-color: #dfdfdf;
}

#menu-button {
    cursor: pointer;
    display: inline-block;
    position: relative;
}

#container.welcome #menu-option-toggle-details {
    color: silver;
}

#container:not(.no-details) #menu-option-toggle-details::before {
    content: "Hide details";
}

#container.no-details #menu-option-toggle-details::before {
    content: "Show details";
}

#menu.show #menu-list {
    display: block;
}

#menu-list {
    background-color: #f1f1f1;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    display: none;
    margin: 1px;
    min-width: 160px;
    padding: 1px;
    position: absolute;
    right: 0;
    z-index: 1000;
}

#menu-list li {
    color: #000;
    display: block;
    padding: 12px 16px;
    text-decoration: none;
}

#menu-list li:hover {
    background-color: #dfdfdf;
}

#top {
    align-items: center;
    display: flex;
    justify-content: start;
    margin-left: 10px;
    min-height: 5em;
    padding-top: 10px;
}

#header #top h1 {
    align-self: start;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 20px 0 10px;
    padding-top: 0.275em;
}

#logo {
    align-self: start;
    background: url(../img/INTS_Logo-64.png?v1) 0 0 no-repeat;
    background-size: contain;
    height: 50px;
    width: 50px;
}

#header #top .query {
    margin-bottom: 3px;
    margin-top: 0;
}

#header #top .search-type {
    font-size: 0.8em;
    margin-left: 0;
}

#header p {
    font-size: smaller;
    margin: 0 auto;
    text-align: left;
    width: 80%;
}

#query-text {
    border: none;
    box-shadow: none;
    font-family: inherit;
    font-size: 32px;
    height: 40px;
    max-height: 66px;
    outline: none;
    padding-left: 0;
    resize: none;
    width: 100%;
}

.not-ready #query-text {
    color: #eee;
}

.query {
    background-color: #fff;
    border: thin solid #ddd;
    border-radius: 4px;
    display: flex;
    height: 44px;
    padding: 0 5px;
    vertical-align: top;
    width: 630px;
}

.query .awesomplete {
    width: 100%;
    z-index: 500;
}

.query-text:focus,
.query button:focus {
    outline: none;
}

.query button {
    background-color: transparent;
    border: 0;
    width: 25px;
    margin-left: 1em;
}

#reset > span {
    border: solid 2px currentColor;
    border-radius: 100%;
    color: #0000006e;
    height: 14px;
    margin-left: -9px;
    margin-top: -8px;
    position: absolute;
    width: 14px;
}

#reset > span:before {
    -webkit-transform: rotate(45deg);
    background-color: currentColor;
    content: "";
    height: 2px;
    left: 2px;
    position: absolute;
    top: 6px;
    transform: rotate(45deg);
    width: 10px;
}

#reset > span:after {
    -webkit-transform: rotate(-45deg);
    background-color: currentColor;
    content: "";
    height: 2px;
    left: 2px;
    position: absolute;
    top: 6px;
    transform: rotate(-45deg);
    width: 10px;
}

#go > span {
    -webkit-transform: rotate(-45deg);
    border: solid 2px currentColor;
    border-radius: 100%;
    color: #000;
    height: 12px;
    margin-left: -10px;
    margin-top: -10px;
    position: absolute;
    transform: rotate(-45deg);
    width: 12px;
}

#go > span:before {
    background-color: currentColor;
    content: "";
    height: 10px;
    left: 5px;
    position: absolute;
    top: 12px;
    width: 2px;
}

.query svg {
    height: 24px;
    width: 24px;
}

/* Customize the label (the container) */
.container {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 1.1em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#matches-order .container,
#details-types .container {
    font-size: 1em;
    padding-left: 20px;
    margin-left: 10px;
    padding-top: 2px;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: -1px;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
    border: thin solid #aaa;
}

/* Create a custom radiobutton */
.radiobutton {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
    border: thin solid #aaa;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark,
.container:hover input ~ .radiobutton {
    background-color: rgba(122, 193, 67, 0.6);
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark,
.container input:checked ~ .radiobutton {
    background-color: rgba(122, 193, 67, 1);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after,
.radiobutton:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after,
.container input:checked ~ .radiobutton:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 4px;
    top: 1px;
    width: 3px;
    height: 8px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* Style the indicator (dot/circle) */
.container .radiobutton:after {
    top: 4px;
    left: 4px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: white;
}

#tabs {
    display: none;
    margin-left: 280px;
}

#tabs div {
    font-size: 13px;
    padding: 16px 16px 12px;
}

#tabs .selected {
    border-bottom: #1a73e8 solid 5px;
    color: #1a73e8;
    font-weight: 700;
}

#categories,
#matches,
#details {
    overflow-x: hidden;
}

/*#details > .close {
    cursor: pointer;
    margin: -0.7em 1.1em;
    position: absolute;
    right: 0;
}

#details > .close:hover {
    font-weight: 700;
}*/

.close {
    color: #000;
    position: relative;
    margin-top: 5px;
    margin-left: 0;
    width: 21px;
    height: 21px;
}

#details > .close {
    position: absolute;
    margin-top: 0;
    right: 20px;
}

.close:before {
    content: "";
    position: absolute;
    top: 10px;
    width: 21px;
    height: 1px;
    background-color: currentColor;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.close:after {
    content: "";
    position: absolute;
    top: 10px;
    width: 21px;
    height: 1px;
    background-color: currentColor;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

#dialog-settings-close-button.close {
    height: 15px;
    width: 15px;
    margin-right: 2px;
}
#dialog-settings-close-button.close:before,
#dialog-settings-close-button.close:after {
    width: 15px;
    top: 2px;
}

.close:hover:before,
.close:hover:after {
    height: 2px;
}

#categories {
    grid-area: categories;
    margin-left: 0.5rem;
    overflow-y: auto;
}

#categories-tree {
    max-width: 245px;
}

#categories-tree > ul {
    list-style-type: none;
    padding-left: 0;
}

#categories-tree ul li .entry {
    display: block;
    white-space: nowrap;
}

#categories-tree > ul > li > .entry {
    display: block;
    font-weight: 700;
    margin-top: 0.7em;
    white-space: nowrap;
}

#categories-tree > ul li > .entry {
    border-bottom: 0 solid #dedede;
    display: flex;
    justify-content: stretch;
}

#categories-tree > ul li > .entry > .link {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    max-width: 200px;
}

#categories-tree > ul li > .entry > .link > .title {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}

#categories-tree > ul .collapsed.has-children > .entry {
    border-bottom: thin solid #dedede;
}

#categories-tree > ul .entry > .toggle {
    cursor: pointer;
    display: inline-block;
    font-size: 0.7em;
    margin-left: 0.7em;
    margin-right: 0.3em;
    max-width: 1.5em;
    min-width: 1.5em;
    vertical-align: middle;
    visibility: hidden;
    white-space: pre;
}

#categories-tree > ul > li > .entry > .toggle {
    margin-top: -0.3em;
}

#categories-tree > ul .has-children > .entry > .toggle {
    visibility: visible;
}

#categories-tree > ul .collapsed.has-children > .entry > .toggle,
#categories-tree > ul .expanded.has-children > .entry > .toggle {
    background-color: transparent;
    color: #000;
    height: 16px;
    margin-top: 0;
    position: relative;
    width: 0;
}

#categories-tree > ul .collapsed.has-children > .entry > .toggle:before {
    -webkit-transform: rotate(45deg);
    border-right: solid 2px currentColor;
    border-top: solid 2px currentColor;
    content: "";
    height: 8px;
    position: absolute;
    right: 5px;
    top: 2px;
    transform: rotate(45deg);
    width: 8px;
}

#categories-tree > ul .expanded.has-children > .entry > .toggle:before {
    -webkit-transform: rotate(135deg);
    border-right: solid 2px currentColor;
    border-top: solid 2px currentColor;
    content: "";
    height: 8px;
    left: 4px;
    position: absolute;
    top: 0;
    transform: rotate(135deg);
    width: 8px;
}

.ctrl
    #categories-tree:hover
    > ul
    .expanded.has-children
    > .entry
    > .toggle:before,
.ctrl
    #categories-tree:hover
    > ul
    .collapsed.has-children
    > .entry
    > .toggle:before {
    border: none;
    content: "☸";
    font-weight: 400;
    margin: -0.48em 0 0 -3px;
    text-shadow: 0.1em 0.1em 0.1em silver;
    transform: unset;
    zoom: 156%;
}

.ctrl
    #categories-tree:hover
    > ul
    .expanded.has-children
    > .entry
    > .toggle:before {
    margin-top: -0.33em;
}

#categories-tree > ul .collapsed.has-children > ul {
    display: none;
}

#categories-tree > ul ul {
    list-style-type: none;
    padding-left: 0.8em;
    padding-top: 4px;
}

#categories-tree li > ul > li > .entry {
    border: solid 0.05em transparent;
    border-radius: 0.3em;
    cursor: pointer;
    margin: 0 0 0 -0.2em;
    padding: 0.2em 0 0 0.2em;
}

#categories-tree > ul li.is-filter > .entry > .link {
    cursor: pointer;
}

#categories-tree > ul li.is-filter > .entry > .filter {
    background-color: currentColor;
    border-radius: 100%;
    color: rgba(122, 193, 67, 1);
    height: 14px;
    margin-right: 0.3em;
    margin-top: 1px;
    min-width: 14px;
    position: relative;
    width: 14px;
}

#categories-tree > ul li.is-filter > .entry > .filter::after {
    -webkit-transform: rotate(-45deg);
    border-bottom: solid 1px currentColor;
    border-left: solid 1px currentColor;
    color: #fff;
    content: "";
    height: 4px;
    margin-left: 3px;
    margin-top: 3px;
    position: absolute;
    transform: rotate(-45deg);
    width: 7px;
}

#categories-tree > ul li.has-filter > .entry > .filter {
    border: solid 1px currentColor;
    border-radius: 100%;
    color: rgba(122, 193, 67, 0.6);
    height: 12px;
    margin-right: 0.3em;
    margin-top: 2px;
    position: relative;
    width: 12px;
}

#categories-tree > ul li.has-filter > .entry > .filter:after {
    background-color: currentColor;
    border-radius: 50%;
    content: "";
    height: 10px;
    left: 1px;
    position: absolute;
    top: 1px;
    width: 10px;
}

#categories-tree > ul .count {
    font-size: smaller;
    padding: 0 1em;
}

#categories-tree > ul .count::before {
    content: "";
}

#categories-tree > ul .count::after {
    content: "";
}

#categories-tree > ul {
    margin-top: 0;
}

#categories > ul > li > .entry {
    background-color: transparent;
}

#categories-tree .no-matches-with-filters {
    align-items: center;
    display: flex;
    flex-direction: column;
}

#categories-tree .no-matches-with-filters button {
    background-color: #f9f9f9;
    border: thin solid #cdcdcd;
    font-weight: 700;
    margin: 0 auto;
    padding: 0.7em;
}

#matches {
    display: flex;
    flex-direction: column;
    grid-area: matches;
}

#did-you-mean-container {
    flex-shrink: 0;
    margin-top: 1em;
}

#did-you-mean {
    list-style-type: none;
    margin-top: 0;
    padding-left: 0;
}

#did-you-mean li {
    font-style: italic;
    margin-left: 0;
    text-decoration: underline;
}

#matches-header.has-data {
    display: flex;
    justify-content: space-between;
}

#matches-header {
    display: none;
    flex-shrink: 0;
}

#matches-stats {
    font-size: smaller;
}

#matches-order {
    display: none;
    font-size: smaller;
    margin-right: 0.5em;
}

#matches-order.show {
    display: flex;
}

#matches-order .header {
    margin-top: 11px;
    font-weight: 700;
}

#matches-list {
    flex-grow: 1;
    overflow-y: auto;
}

#matches-list ul {
    list-style: none;
    padding: 0;
}

#matches-list li > div {
    margin-right: 10px;
    margin-top: 30px;
    padding: 5px;
}

#matches-list li:first-child > div {
    margin-top: 0;
}

#matches-list li.current {
    background-color: rgba(0, 0, 0, 0.03);
}

#matches-list li .headline {
    display: flex;
    font-weight: 700;
    justify-content: space-between;
}

#matches-list li .headline * {
    font-size: 18px;
    font-weight: 400;
    margin-left: 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    /*white-space: nowrap;*/
}

#matches-list li .date {
    color: #35af27;
    display: block;
    font-size: 0.8em;
    margin: 0.2em 0 0 0.5rem;
}

#matches-list a {
    text-decoration: none;
}

#matches-list a:link {
    color: #3d91c6;
}

#matches-list a:visited,
#matches-list a:active {
    color: #3d91c6;
}

#matches-list a:hover {
    text-decoration: underline;
}

#matches-list .item.parent-level-1 {
    margin-left: 4em;
    margin-top: 10px;
}

#matches-list .item.parent-level-1 img.icon-primary {
    visibility: hidden;
}

#matches-list .item .title {
    display: flex;
    flex-direction: row;
}

#matches-list .item.ghost {
    opacity: 0.5;
}

#matches-list .item.ghost > div.categories {
    display: none;
}

#matches-list .item img.icon-primary {
    height: 2.5em;
}

#matches-list .item img.icon-primary + img.icon-overlay {
    height: 32px;
    margin-left: -1.3em;
    min-width: 32px;
}

#matches-list .item.parent-level-1 img.icon-primary + img.icon-overlay {
    margin-left: -2.7em;
}

#matches-list .item .headline {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#matches-list li .extracts {
    background-color: transparent;
    border-left: solid thick silver;
    font-size: smaller;
    font-style: normal;
    line-height: 1em;
    margin: 1em 0;
    padding: 0 0 0 0.5em;
}

#matches-list li .extract {
    display: block;
    padding: 0 0 0.5em;
}

#details-content b {
    background-color: #fffacd;
    padding: 0 3px;
}

#categories-filters .filter,
#matches-list .category {
    background-color: rgba(219, 219, 219, 0.5);
    border: solid 0.1em transparent;
    cursor: pointer;
    display: inline-block;
    font-size: 0.8em;
    margin: 0.1em 0.5em 0 0;
    padding: 0.2em 0.5em;
}

#matches-list .category.is-filter {
    background-color: rgba(122, 193, 67, 0.3);
}

#matches-list .category:hover {
    border-color: rgba(0, 0, 0, 0.3);
}

#matches-pager {
    align-items: baseline;
    display: none;
    flex-shrink: 0;
    font-size: 1.1em;
    margin-top: 0.5em;
}

#matches-pager.show {
    display: flex;
}

#matches-pager-label {
    display: none;
}

#matches-pager-items {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
}

#matches-pager-items li {
    display: inline;
    font-weight: 100;
    padding: 0 0.4em;
}

#matches-pager-items li.disabled,
#matches-pager-items li.ellipsis {
    color: #dcdcdc;
    font-weight: 100;
}

#matches-pager-items li:not(.selected):not(.ellipsis):not(.disabled):hover {
    background-color: #dcdcdc;
    cursor: pointer;
}

#matches-pager-items li.selected {
    font-weight: 900;
}

#details {
    background-color: rgba(0, 0, 0, 0.03);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    font-size: smaller;
    grid-area: details;
    margin-right: 0.5rem;
    overflow-y: auto;
    padding: 15px;
}

#details:not(.showhelp) #details-help {
    display: none;
}

#details.showhelp #details-content,
#details.showhelp #details-properties {
    display: none;
}

#details.content #details-content {
    display: block;
}

#details.content #details-properties {
    display: none;
}

#details.properties #details-content {
    display: none;
}

#details.properties #details-properties {
    display: block;
}

#details-help {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
}

#details-header {
    flex-shrink: 0;
    margin-right: 20px;
}

#details-title {
    background-color: transparent;
    font-size: initial;
    font-weight: 700;
}

#details-content {
    display: block;
    flex-grow: 1;
    overflow-y: auto;
}

#details ul {
    list-style: none;
    padding-left: 0;
}

#details-types {
    margin: 0.5em 0 0 -0.4em;
    display: flex;
}

#details > h2 {
    border-bottom: thin solid #dedede;
    margin: 0 0 10px;
}

#details-properties {
    display: none;
    flex-grow: 1;
    overflow-x: hidden;
    overflow-y: auto;
}

#details-properties h2 {
    font-size: 1.2em;
    margin-bottom: 0.3em;
}

#details-properties dl {
    margin: 0 0 0 1em;
}

#details-properties dt {
    clear: left;
    float: left;
    font-weight: 700;
    margin-right: 1em;
}

#details-properties dd {
    margin-left: 0;
    padding-bottom: 0.25em;
    padding-left: 2em;
    white-space: normal;
}

#details-properties ul {
    margin: 0 0 0 1em;
}

#details-properties .categories {
    font-weight: 700;
}

#footer {
    background-color: #f9f9f9;
    border-top: thin solid #dedede;
    display: none;
    font-size: 19px;
    grid-area: footer;
    padding: 10px;
    text-align: center;
}

#container:not(.dialog-settings) #footer {
    display: block;
}

.loader-wrapper {
    width: 100%;
    z-index: 100;
}

.loader {
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    border: 15px solid transparent;
    border-bottom-color: #003d4a;
    border-radius: 50%;
    border-top-color: #003d4a;
    display: block;
    height: 150px;
    left: 50%;
    margin: -75px 0 0 -75px;
    overflow: hidden;
    position: relative;
    top: 40%;
    width: 150px;
}

.loader:before {
    -webkit-animation: spin 1.2s linear infinite;
    -webkit-animation-direction: reverse;
    animation: spin 1.2s linear infinite;
    animation-direction: reverse;
    border: 15px solid transparent;
    border-bottom-color: #a4ca30;
    border-radius: 50%;
    border-top-color: #a4ca30;
    bottom: 5px;
    content: "";
    left: 5px;
    position: absolute;
    right: 5px;
    top: 5px;
}

.loader:after {
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
    border: 50px solid transparent;
    border-bottom-color: #003d4a;
    border-radius: 50%;
    border-top-color: #003d4a;
    bottom: 25px;
    content: "";
    left: 25px;
    position: absolute;
    right: 25px;
    top: 25px;
}

@-webkit-keyframes spin {
    0% {
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.spinner {
    z-index: 1500;
}

#spinner {
    visibility: hidden;
}

.spinner:before {
    animation: spinner 0.6s linear infinite;
    border: 2px solid #ccc;
    border-radius: 50%;
    border-top-color: #333;
    box-sizing: border-box;
    content: "";
    height: 10px;
    margin-left: -3px;
    margin-top: 2px;
    position: absolute;
    width: 10px;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.show {
    display: block;
}

ul.tab-container {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.tab-container li.tab {
    border: thin solid silver;
    border-top-left-radius: 0.4em;
    border-top-right-radius: 0.4em;
    cursor: pointer;
    display: inline;
    font-size: 0.9em;
    padding: 0 0.3em;
}

ul.tab-container li.tab.current {
    background-color: rgba(0, 0, 0, 0.08);
    border-bottom-color: transparent;
}

.tab-content:not(.current) {
    display: none;
}

.tab-content-container {
    background-color: rgba(0, 0, 0, 0.08);
    border: thin solid silver;
    border-top: none;
    padding: 0.5em;
}

.tab-spacer {
    border-bottom: thin solid silver;
    flex-grow: 1;
}

fieldset {
    border-radius: 0.4em;
}

fieldset + fieldset {
    margin-top: 1em;
}

label[for]:hover {
    cursor: pointer;
    text-decoration: underline;
}

.help-block {
    background: rgba(255, 255, 0, 0.1);
    font-size: 0.85em;
    font-style: italic;
}

#dialog-category-configuration .toggle-button {
    background-color: rgba(255, 255, 0, 0.3);
    border: outset 1px;
    display: block;
    float: right;
    font-weight: 400;
}

#dialog-category-configuration .toggle-button:hover {
    background-color: rgba(255, 255, 0, 0.6);
}

.category-config-node {
    cursor: pointer;
    height: 1em;
    margin: 0;
    text-shadow: 0.1em 0.1em 0.1em silver;
    vertical-align: middle;
    visibility: hidden;
    width: 1em;
}

#categories:hover .category-config-node:before {
    content: "☸";
}

.ctrl .category-config-node,
.ctrl .category-config-node:hover {
    visibility: visible;
}

@media (max-width: 815px) {
    #container {
        grid-template-areas: header categories matches footer;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 1fr auto;
        height: calc(100vh-60px);
    }

    #container.welcome {
        grid-template-areas: header welcome footer;
        grid-template-rows: auto 1fr auto;
        height: 100vh;
    }

    #container.no-details {
        grid-template-areas: header matches footer;
        grid-template-rows: auto 1fr auto;
    }

    #container.no-details:not(.welcome) {
        grid-template-areas: header matches footer;
        grid-template-rows: auto 1fr auto;
    }

    #categories,
    #welcome,
    #matches,
    #details {
        padding: 0 1em;
    }

    #container.no-details #categories,
    #container.no-details #categories-tree {
        display: none;
    }

    #top {
        flex-wrap: wrap;
        margin-left: 0;
        margin-right: 0;
    }

    #query-wrapper {
        margin-top: 5px;
        width: 100vw;
    }

    .query {
        margin: auto;
        width: 90vw;
    }

    #menu {
        position: absolute;
        right: 5px;
    }

    #container:not(.no-details) #menu-option-toggle-details::before {
        content: "Hide categories";
    }

    #container.no-details #menu-option-toggle-details::before {
        content: "Show categories";
    }

    #details {
        display: none !important;
    }

    #header #top .search-type {
        /*margin-left: 0;*/
        text-align: center;
    }

    #matches-header.has-data {
        display: block;
    }

    #matches-pager-label span {
        display: none;
    }

    #matches-pager-items {
        margin-left: auto;
        margin-right: auto;
        padding-left: 0;
    }
}

.awesomplete {
    margin-left: 0.45em;
}

.awesomplete mark {
    background: unset;
    font-weight: 100;
}

.awesomplete li:hover mark {
    background: unset;
}

.awesomplete li {
    font-weight: 700;
}

#awn-toast-container.awn-top .awn-toast:first-child {
    margin-top: 0 !important;
}

.awn-toast {
    padding-right: 44px !important;
    width: 360px;
}

.awn-toast-alert .alert {
    border-top: solid 1px;
    padding-top: 0.4em;
}

.awn-toast-alert .type {
    font-weight: 700;
}

.awn-toast-alert .type,
.awn-toast-alert .message {
    display: inline-block;
}

.awn-toast-alert .details {
    font-size: smaller;
    margin-top: 0.4em;
}
